<div class="container-fluid px-4">
    <h2 class="mt-4">Quản lý đơn hàng hủy</h2><br>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-table me-1"></i>
                Danh sách đơn hàng hủy
            </div>
        </div>
        <div class="card-body">
            <input type="text" ng-model="searchText5" placeholder="Tìm kiếm..." class="form-control mb-3" />
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã hóa đơn</th>
                    <th>Người đặt hàng</th>
                    <th>Ngày đặt hàng</th>
                    <th>Tổng tiền</th>
                    <th>Điểm sử dụng</th>
                    <th>Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pager5.items | filter: searchText5">
                    <td>{{$index + 1 + (pager0.page * pager0.size)}}</td>
                    <td>{{item.ma}}</td>
                    <td>{{item.userModel.profile.hoVaTen}}</td>
                    <td>{{item.ngayDatHang}}</td>
                    <td>{{item.tongTien}}</td>
                    <td>{{item.diemSuDung}}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-link" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" ng-click="edit5(item)">
                                <i class="fas fa-info-circle"></i>
                            </button>
                            <button class="btn btn-link" type="button" ng-click="selectInvoice(item)">
                                <i class="fas fa-list-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer text-center">
                <button ng-click="pager5.first()" class="btn btn-danger">
                    <i class="fas fa-angle-double-left"></i> <!-- Tiến đến đầu -->
                </button>
                <button ng-click="pager5.prev()" class="btn btn-primary">
                    <i class="fas fa-angle-left"></i> <!-- Lùi 1 -->
                </button>
                <button class="btn btn-success">{{pager5.page+1}} of {{pager5.count}}</button>
                <button ng-click="pager5.next()" class="btn btn-primary">
                    <i class="fas fa-angle-right"></i> <!-- Tiến 1 -->
                </button>
                <button ng-click="pager5.last()" class="btn btn-danger">
                    <i class="fas fa-angle-double-right"></i> <!-- Lùi đến cuối -->
                </button>
            </div>
        </div>
    </div>

    <!--    /// thông tin hóa đơn-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin hóa đơn: {{form5.ma}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <label>Mã hóa đơn</label>
                                <input type="text" class="form-control" ng-model="form5.ma" readonly>
                                <label>Tổng tiền</label>
                                <input type="text" class="form-control" ng-model="form5.tongTien" readonly>
                                <label>Điểm sử dụng</label>
                                <input type="text" class="form-control" ng-model="form5.diemSuDung" readonly>
                                <label>Ngày đặt hàng</label>
                                <input type="text" class="form-control" ng-model="form5.ngayDatHang" readonly>
                                <label>Người đặt hàng</label>
                                <input type="text" class="form-control" ng-model="form5.userModel.profile.hoVaTen" readonly>
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" ng-model="form5.userModel.profile.phone" readonly>
                                <label>Email</label>
                                <input type="text" class="form-control" ng-model="form5.userModel.profile.email" readonly>
                                <label>Địa chỉ người đặt hàng</label>
                                <textarea type="text" class="form-control" ng-model="form5.userModel.profile.diaChi" readonly></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>Địa chỉ giao hàng</label>
                                <input type="text" class="form-control" ng-model="form5.diaChiGiaoHangModel.diaChi" readonly>
                                <label>Người nhận hàng</label>
                                <input type="text" class="form-control" ng-model="form5.diaChiGiaoHangModel.hoTen" readonly>
                                <label>Số điện thoại người nhân</label>
                                <input type="text" class="form-control" ng-model="form5.diaChiGiaoHangModel.sdt" readonly>
                                <label>Phương thức vận chuyển</label>
                                <input type="text" class="form-control" ng-model="form5.phuongThucVanChuyenModel.ten" readonly>
                                <label>Phí vận chuyển</label>
                                <input type="text" class="form-control" ng-model="form5.phuongThucVanChuyenModel.phiVanChuyen" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times"></i> Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
